#profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    grid-column: 3 / 4;

}

.homePage {
    height: 90%;
    display: grid;
    align-items: center;
}

.heroSection {
    grid-column: 2 / 3;
}