* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  font-size: 1.1rem;
}

.heroSection {
  grid-column: 1 / 3;
}

.now {
  grid-column: 1 / 3;
}

.homePage > section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}