:root {
  --primary: #2c3140;
  --secondary: #aabdf8;
  --tertiary: #e8eeff;
}


#root {
  min-height: 100dvh;
  overflow: auto;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
  background-color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

.homePage {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
