.navBar > ul {
    display: flex;
    justify-content: space-around;
}

.navBar {
    height: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: large;
    background-color: var(--secondary);
    padding: 1.5rem;
}

.navBar > ul > a {
    color: white;
    text-decoration: none;
}